/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  color: #AAA;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
strong {
  color: #313131;
}
main {
  flex: 1 1 0;
  padding: 0px 16px;
}
 section {
  float: left;
  width: 100%;
  height: 100px;
  display: none;
} 

button {
  float: left;
  padding: 9px;
  margin: 8px 5px;
  border-radius: 10px;
  border: none;
}
input {
  display: flex;
  justify-content: flex-end;
  appearance: none;
	background: none;
	outline: none;
	border: none;
	display: block;
	width: 92%;
	/* width: 1000px; */
	padding: 16px;
	border-radius: 999px;
	background-color: #EEE;
	transition: 0.4s;
  float: left;
  margin-left: 15px;
  margin-bottom: 20px;
}

 li{
  float: left;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  margin-top: 60px;
  margin: 32px -8px 0px; 
  width: 33.333%;
  padding: 16px 8px; 

}
img:hover {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
  transform: scale(1.05);
} 
img {
  display: flex;
  flex: wrap;
	width: 40%;
	height: 350px;
	object-fit: cover;
	border-radius: 16px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

	transition: 0.4s; 
}
h2{
  color: #313131;
  padding-right: 10%;
  
} 
a {
  float: left;
  text-decoration: none;
  width: 33.333%;
  margin-bottom: 3%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
